/*==============================
 GOOGLE FONT
===============================*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root{

--primary:#81A6C6;
--secondary:#AACDDC;
--light:#F3E3D0;
--accent:#D2C4B4;

--dark:#2E3A45;
--white:#ffffff;

}

*{

margin:0;
padding:0;
box-sizing:border-box;

}

body{

font-family:'Poppins',sans-serif;

background:#fff;

overflow-x:hidden;

color:var(--dark);

}

a{

text-decoration:none;

}

section{

padding:100px 0;

}